<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Alex Kantas">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


    <title>{{= title }}</title>

    <!-- Semantic core CSS -->
    <link href="assets/css/semantic.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body class="main-background">
    <div class="ui container">

        <div class="main-segment">
            <div class="ui segment">
                <div class="ui huge header">{{= title }}</div>
                <div class="main-segment-description">
                    <p>Παρακάτω παρουσιάζεται η θεωρία και μια ερώτηση κατανόησης.</p>
                    <p>Εφόσον διαβάσετε τη θεωρία πατήστε το κουμπί 'Συνέχεια'</p>
                    <p>Στη συνέχεια θα σας δωθεί μια ερώτηση που έχει σκοπό την καλύτερη κατανόηση της θεωρίας</p>
                    <p>Δώστε την απαντηση σας στο πεδίο με τίτλο "Απάντηση" και πατήστε το "Αποστολή" </p>
                    <p>Σε περίπτωση που κάνετε λάθος θα σας εμφανιστεί η σωστή απάντηση!</p>
                </div>
            </div>
        </div>

        <div class="paths-area">
            <div class="ui one column  grid">

                <div class="column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h1>Στόχος Μαθήματος</h1>
                            <p>{{= goal }}</p>
                        </div>
                        <div class="ui brown segment">
                            <h1>Θεωρία</h1>
                            <a href="/assets/pdf/{{= lesson }}{{= theory }}.pdf" class="ui primary labeled icon button" download>
                            <i class="download icon"></i>Λήψη</a> 
                            {{ if theory="theory1" }}
                            <p>{{= theoryText1 }}</p>
                            {{ end }} {{ if theory="theory2" }}
                            <p>{{= theoryText2 }}</p>
                            {{ end }}
                        </div>
                        <div class="ui brown segment lecture-element">
                            <iframe src="/assets/pdf/{{= lesson }}{{= theory }}.pdf" id="pdf" class="full-width-height"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="login-button-area">
            <a href="/lectureAns" class="ui primary button" form="feedback-form">Συνέχεια</a>
        </div>

        <div class="simple-margin">&nbsp</div>

        <!-- /container -->
    </div>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Semantic core JavaScript-->
    <script src="assets/js/semantic.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>