<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Alex Kantas">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


    <title>{{= title }}</title>

    <!-- Semantic core CSS -->
    <link href="assets/css/semantic.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body class="main-background">

    <div class="ui one column centered grid container main-grid">
        <div class="ui column">
            <div id="main-header" class="ui huge header">{{= title }}</div>
            <div class="main-area">
                <div class="ui segment segment-area">
                    <div class="main-description">
                        <p>Το <strong>Prolog Intelligent Tutoring Systems (PITS)</strong> είναι ένα εφυές διδακτικό σύστημα
                            που έχει σκοπό να διδάξει τεχνικές προγραμματισμού και έννοιες της <strong>PROLOG</strong>.</p>
                        <p>Το σύστημα αυτό χρησιμοποιέι διάφορες διδακτικές προσσεγίσεις με στόχο να κάνει την διαδικασία εκμάθησης
                            της γλώσσας προγραμματισμού <strong>PROLOG</strong> πιο εύκολη.</p>
                        <p>Περιέχει <strong>10 μαθήματα</strong> όπου το κάθε μάθημα αποτελείται από <strong>3 </strong>μέρη:</p>
                        <p><strong>Εισήγηση</strong>,<strong> Πρακτική Εξάσκηση </strong>και <strong>Αξιολόγηση</strong>.</p>
                        <p>Ο κάθε χρήστης-μαθητής μπορεί να ξεκινήσει από όποιο μέρος του μαθήματος επιθυμεί αλλά δεν μπορεί
                            να προχωρήσει σε επόμενο μάθημα αν δεν έχει ολοκληρώσει με επιτυχία το τεστ αξιολόγησης.</p>
                    </div>
                    <!-- /Segment -->
                </div>
                <!-- /Main area -->
            </div>
            <div class="login-button-area">
                <a href="/logIn" class="positive ui button">Είσοδος</a>
            </div>
            <!-- /Column -->
        </div>
        <!-- /Centered Grid -->
    </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Semantic core JavaScript-->
    <script src="assets/js/semantic.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>