<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Alex Kantas">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


    <title>{{= title }}</title>

    <!-- Semantic core CSS -->
    <link href="assets/css/semantic.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body class="main-background">


    <div id="schema-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Σχήμα
        </div>
        <div class="content">
            <div id="modal-text" class="description">
                {{= schema }}
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                Ok
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div class="ui container">

        <div class="main-segment">
            <div class="ui segment">
                <div class="ui huge header">{{= title }}</div>
                <div class="main-segment-description">
                    <p>Στο δεξί μέρος της σελίδας υπάρχει το περιβάλλον εργασίας στο οποίο θα ελέγχεται το λειτουργικό κομμάτι
                        της άσκησης πριν την υποβάλλεται στο σύστημα στο πεδίο απάντηση!</p>
                </div>
            </div>
        </div>

        <div class="paths-area">
            <div class="ui stackable grid">

                <div class="six wide column">
                    <div class="ui segment practice-schema-object">
                        <div class="full-width-height practice-object">

                            <h1 class="ui dividing header">Ερώτηση </h1>

                            <p id="question-1-description" class="review-text">
                                {{= question }}
                            </p>

                            <p class="review-text">Το σχήμα που επέλεξες είναι το παρακάτω:</p>

                            <div class="ui raised segment">
                                <div id="help-schema-area">
                                    {{= schema }}
                                    <button id="help-button" class="ui basic blue icon button help-button"><i class="large grey zoom icon"></i></button>
                                </div>
                            </div>

                            <form id="main-form" class="ui form" action="/practiceAnswer" method="POST">
                                <div class="field">
                                    <label>Απάντηση</label>
                                    <textarea id="answer" type="text" name="ans" rows="2" required></textarea>
                                </div>
                                <button id="submit-button" class="ui blue right floated submit button" type="submit">Αποστολή</button>
                            </form>


                        </div>
                    </div>
                </div>

                <div class="ten wide column">
                    <div class="ui segment practice-schema-object">
                        <iframe src="http://swish.swi-prolog.org/" id="prolog-site" class="full-width-height"></iframe>
                    </div>
                </div>

            </div>
        </div>

        <div class="simple-margin">&nbsp</div>

        <!-- /container -->
    </div>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Semantic core JavaScript-->
    <script src="assets/js/semantic.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/main.js"></script>

    <script>
        practiceSchemaPage();
    </script>

</body>

</html>