<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Alex Kantas">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


    <title>{{= title }}</title>

    <!-- Semantic core CSS -->
    <link href="assets/css/semantic.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body class="main-background">
    <div class="ui container">

        <div class="main-segment">
            <div class="ui segment">
                <div class="ui huge header">{{= title }}</div>
                <div class="main-segment-description">
                </div>
            </div>
        </div>

        <div class="paths-area">
            <div class="ui one column  grid">

                <div class="column">
                    <div class="ui segment path-object well-done-object">
                        <img class="ui medium centered image" src="assets/img/balloons.jpg">
                        <h1>Μπράβο σωστή απάντηση!!!</h1>
                    </div>
                </div>

            </div>
        </div>

        <div class="login-button-area">
            <a href="{{= nextPage }}" class="ui primary button">Συνέχεια</a>
        </div>

        <div class="simple-margin">&nbsp</div>

        <!-- /container -->
    </div>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Semantic core JavaScript-->
    <script src="assets/js/semantic.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>